<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_Data</title>
</head>
<body>
    <center>
        <table border="2px">
            <caption>STUDENT</caption>
            <tr>
                <th>SID</th>
                <th>STD Name</th>
                <th>STD Course</th>
                <th>Course ID</th>
            </tr>
            {% for i in obj %}
                <tr>
                    <td>{{i.std_id}}</td>
                    <td>{{i.std_name}}</td>
                    <td>{{i.std_courst}}</td>
                    <td>{{i.c_id}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>